{% load static %}
<div class="image">
    <img src="{% static 'image/header.png' %}"/>
</div>
<div class="tabs">
    <a class="tab" href="">Home</a>
    <a class="tab" href="">Manga</a>
    <a class="tab" href="">Music</a>
    <a class="tab" href="">Engineer</a>
    <a class="tab" href="">Blog</a>
    <a class="tab" href="">Contact</a>
</div>

<style>
.image {
    margin:          auto;
    text-align:      center;
    padding:         1em;
}

img {
    width:           70%;
}

.tabs {
    display:         flex;
    text-align:      center;
    justify-content: space-between;
    //width:           60%;
    margin:          auto;
}

.tab {
    display:       inline-block;
    padding:       10px;
    width:         130px;
    font-weight:   bold;
}

a, u {
    text-decoration: none;
    color:           black;
    font-size:       1em;
}

.tab:hover {
    background: #8A2BE2;
    color:      #7FFF00;
}

</style>
