{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<!DOCTYPE html>
<html>
    <head>
        <title> MicroTeach </title>
    </head>
    <body>
        <div class="template">
            {% include '_header.html' %}
            <div class="caption"> すがのけいの個人ホームページ
                <div class="caption3"> こんにちは </div>
            </div>
            
            <div class="button-body">
                <input type="button" class="button" value="今すぐ始める！">
            </div>
        </div>
    </body>
</html>
